.explore {
	background-color: $color-tertiary;
	height: 80vh;
	margin-top: -10rem;

	&__container {
		padding: 12rem;
		display: flex;
		justify-content: space-evenly;
	}

	&__info {
		padding-left: 2rem;
		width: 50%;
		font-family: "Montserrat", sans-serif;
		&-heading {
			display: inline-block;
			font-size: 6rem;
			color: $color-primary;
		}

		&-paragraph {
			padding-top: 3rem;
			font-size: 2.5rem;
			color: $color-text;
			line-height: 160%;
		}
	}

	&__img {
		width: 50%;
		position: relative;

		&-pic {
			transition: all 0.2s;
			position: absolute;
			&--1 {
				width: 80%;
				top: 15rem;
				left: -5rem;
			}

			&--2 {
				width: 60%;
				top: 0;
				left: 2rem;
			}

			&:hover {
				z-index: 999;
				box-shadow: 0 1rem 2rem rgba($color-secondary, 0.8);
				transform: scale(1.2);
			}
			&--3 {
				top: 5rem;
				left: 15rem;
				width: 60%;
			}
		}
	}
}
